//colors
$pink: #f879e2;
// $pink: #202060;

$pink-hover: rgba(253, 121, 226, .1);
$pink-title:#ec6fd2;
$pink-submit-hover: #f047ce;

$dark-primary: #0d141a;
$dark-secondary: #121a21;

//this is global for both
$grey-primary: #a3abb2;

$grey-secondary: #c2cad1;
$grey-tertiary: #9d9db4;
$grey-border: #707070;

$color-divider: #4c4c6f;
$modal-border: #3b414c;
$modal-bg: #3b414c;

$stocks-font: #f4f7fb;

