.dark-edition
  .main-panel
  .content
  .container-fluid
  #offersPage.row
  .nftListing
  .card.card-profile
  .card-body,
.light-edition
  .main-panel
  .content
  .container-fluid
  #offersPage.row
  .nftListing
  .card.card-profile
  .card-body {
  button.btn-outline {
    background: var(--primary-color) !important;
    border-radius: 0.6rem;
    border: 0.1rem solid var(--bg-primary);
    font-size: 1.6rem;
    color: var(--bg-secondary);
    font-weight: 700;
    //padding: 1rem 2.5rem;

    padding: 0.3rem 0.8rem;
    width: 90%;

    &:hover,
    &:active {
      background-color: var(--primary-hover-dark) !important;
    }
  }
}
